body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.canvas {
  background-color: #faf8ef;
  width: 75%;
  height: 75vh;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 50px;
}

.head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.head h1 {
  text-align: left;
  font-size: 70px;
  font-weight: bold;
  margin: 0;
  color: #776e65;
}

.subtitle {
  color: #776e65;
}

.subtitle span {
  font-weight: bold;
  font-size: 10px;
}

.scores {
  display: flex;
  gap: 5px;
  color: white;
}

.scoreBoard {
  background-color: #bbada0;
  height: 30px;
  padding: 8px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
}

.newgame {
  padding: 5px;
  background-color: #8f7a66;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

#board {
  width: 400px;
  height: 400px;

  background-color: #cdc1b5;
  border: 6px solid #bbada0;
  border-radius: 3px;

  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: 90px;
  height: 90px;
  border: 5px solid #bbada0;

  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

/* tile colors */

.x2 {
  background-color: #eee4da;
  color: #727371;
}

.x4 {
  background-color: #ece0ca;
  color: #727371;
}

.x8 {
  background-color: #f4b17a;
  color: white;
}

.x16 {
  background-color: #f59575;
  color: white;
}

.x32 {
  background-color: #f57c5f;
  color: white;
}

.x64 {
  background-color: #f65d3b;
  color: white;
}

.x128 {
  background-color: #edce71;
  color: white;
}

.x256 {
  background-color: #edcc63;
  color: white;
}

.x512 {
  background-color: #edc651;
  color: white;
}

.x1024 {
  background-color: #eec744;
  color: white;
}

.x2048 {
  background-color: #ecc230;
  color: white;
}

.xxx {
  background-color: #fe3d3d;
  color: white;
}

/*  */

.gameover {
  height: 40%;
  width: 90%;
  margin-top: 35%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}

